#  Local .terraform directories
.terraform
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# .tfvars files
terraform.tfvars

# no creds
*.pem

# terraformrc file
terraform.rc
.terraformrc
